<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/telaPrincipal.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
	integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
	crossorigin="anonymous"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
	integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
	crossorigin="anonymous"></script>

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/telaPrincipal.css}">
<style type="text/css">
	.tableLines{
		color: white !important;
	}
	#headerTable{
		text-align: center;
	}
	
</style>
</head>
<body>
	<div class="container">
		<div style="text-align: center;">
			<br>
			<hr style="color: #fff; background-color: #fff;">
			<form th:object="${tema}" th:action="@{/admin/criarTema}"
				method="post" class="form1">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Adicionar um tema"
						th:field="*{nome}">
					<button class="btn btn-dark" type="submit">
						<i class="fas fa-plus-square" style="width: 18px; height: 18px;"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/alert :: alert"></div>
	<br>
	<br>

	<table class="table" th:if="${listaTema != null} ">
		<h3 id="headerTable">Temas</h3>
		<thead class="thead-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">TEMA</th>
				<th scope="col">EXCLUÍR</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="temaa : ${listaTema}">
				<td th:text="${temaa.id}" class="tableLines"></td>
				<td th:text="${temaa.nome}" class="tableLines"></td>
				<td><a type="button"
					th:href="@{/admin/removerTema/{id}(id=${temaa.id})}"
					class="btn btn-danger tableLines">&nbsp;&nbsp;&nbsp;&nbsp;X&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
			</tr>


		</tbody>
	</table>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
</body>
</html>