<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Top-Bar Inscrito</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="topbarInscrito">
		<div class="container-fluid">

			<button type="button" id="sidebarCollapse" class="btn btn-info">
				<i class="fas fa-align-left"></i> <span>Menu lateral</span>
			</button>
			<button class="btn btn-dark d-inline-block d-lg-none ml-auto"
				type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-align-justify"></i>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-friends"></i> Quem somos</i></a></li>
					<li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-paper-plane"></i> Contato</a></li>
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/home}"><i class="fas fa-home"></i> Home</i></a></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>