
<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Gerenciar Temas</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		.btnform{
			width: 20%;
		}
		#nav{
			height: 65px;
			background-color: blue;
		}
		header{
			padding-top: 1%;
			text-align: center;
			color: white;
		}
		#main{
			margin-top: 1%;
		}
	</style>
</head>

<body>
	
	<div id="nav">
		<header>
			<h1>Gerenciamento de Tema</h1>
		</header>
	</div>

	<div class="container" id="main">
		<form id="frm" action="" method="get">
			<div class="form-group">
				<label for="">Id</label>
				<input name="id" id="txtId" readonly="readonly" class="form-control" value="0"/>
			</div>
			<div class="form-group">
				<label for="">Nome</label>
				<input name="nome" id="txtNome" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="">Idade</label>
				<input name="idade" id="txtIdade" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="">Ra</label>
				<input name="ra" id="txtRa" class="form-control"/>
			</div>
			<div class="form-group">
				<select name="sexo" id="txtCategoria" class="form-control">
					<option value="Masculino">Masculino</option>
					<option value="Feminino">Feminino</option>
				</select>
			</div>	
			<div class="form-group">
				<button type="button" name="cmd" value="salvar" class="btn btn-primary btnform" onclick="salvarJSON()">Salvar</button>
				<button type="submit" name="cmd" value="pesquisar" class="btn btn-primary btnform">Pesquisar</button>
			</div>
		</form>
	</div>

	<div class="container">
		<c:if test="${not empty lista }">
		<table class="table table-striped" id="tabela">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Idade</th>
					<th>Ra</th>
					<th>Sexo</th>
					<th>Excluír</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<c:set var="value" value="1" scope="page" />
				<c:forEach items="${lista }" var="a">
					 <tr id="${value }">
						<td><c:out value="${a.id }"/> </td>
						<td><c:out value="${a.nome }"/> </td>
						<td><c:out value="${a.idade }"/> </td>
						<td><c:out value="${a.ra }"/> </td>
						<td><c:out value="${a.sexo }"/> </td>
						<td>
							<button type="button" onclick="deleteRecord(<c:out value="${a.id }"/>);" 
								class="btn btn-danger" aria-label="Left Align">
  								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>

						</td>
						
						<td>
							<button type="button" onclick="transpoeTexto(<c:out value="${value }" />)" class="btn btn-primary" aria-label="Left Align">
  								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
							<c:set var="value" value="${value + 1 }" scope="page" />
						</td>
					</tr>
				</c:forEach>
			</tbody>
		</table>
		</c:if>
	</div>

		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript">
	
		function objectifyForm(formArray) {//serialize data function
			var returnArray = {};
			for (var i = 0; i < formArray.length; i++){
				returnArray[formArray[i]['name']] = formArray[i]['value'];
			}
			return returnArray;
		}
		
		function salvarJSON() { 
/*			for (var i=document.getElementById("tabela").rows.length; i>0 ; i--){
				document.getElementById("tabela").deleteRow(i-1);
			}
*/
			function callBack( resposta, status ) { 
				location.reload();
			} 		
			var arr = $('#frm').serializeArray();
			var arrSerialized = objectifyForm(arr);
			var strObj = JSON.stringify(arrSerialized);
			console.log("Array");
			console.log(arr);
			console.log("Array Serialized");
			console.log(strObj);
			
			
			var URL = "http://localhost:8080/CrudAluno/AlunoController";
/*			
			function callBack( resposta, status ) { 
				console.log("Resposta: ");
				console.log(resposta);
				console.log("Status: ");
				console.log(status);
			} 
*/			
//			$.post(URL, strObj, callBack);
			$.ajax({
			    url: URL,
			    type: 'post',
			    contentType: 'application/json',
			    data: strObj,
			    success: callBack
			}); 
			clearFields();
			
		}
		
		//Para deletar os elementos por JSON
		
		function deleteRecord(id) { 
			var URL = "http://localhost:8080/CrudAluno/AlunoController";
			
			function callBack( resposta, status ) { 
				location.reload();
			} 
			
			$.ajax({
			    url: URL,
			    type: 'post',
			    contentType: 'application/x-www-form-urlencoded',
			    data: {"id": "id", "cmd":"delete"},
			    success: callBack
			});
		}
		
		function clearFields(){
			var inputs = document.getElementsByTagName("input");
			
			for(var i=0;i<inputs.length;i++){
				inputs[i].value = ""
			}
		}
		
		function transpoeTexto(id){
			console.log(id);
			var element = document.getElementById(id);
			
			document.getElementById('txtId').value = element.cells[0].innerHTML.trim();
			document.getElementById('txtNome').value = element.cells[1].innerHTML.trim();
			document.getElementById('txtIdade').value = element.cells[2].innerHTML.trim();
			document.getElementById('txtRa').value = element.cells[3].innerHTML.trim();
			document.getElementById('txtCategoria').value = element.cells[4].innerHTML.trim();
		}
		
	</script>
</body>
</html>