<!DOCTYPE html>
<html>
<head>
<meta charset="">
<title>Reaver Senha</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/reaverEmail.css}" />
<link rel="scripty" th:href="@{/js/reaverEmail.js}" />

</head>
<body>

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="email address"/>
      <p class="message">Already registered? <a href="#"></a></p>
    </form>
    <form class="login-form">
      <input type="email" placeholder="email"/>
      <button>Recuperar Login e Senha</button>
      <p class="message"><a href="acesso/cadastro.html">  Pagina de Cadastro </p>
      <p class="message"><a href="index.html">     Retornar a Pagina Principal</a></p>
    </form>
  </div>
</div>

<!--Section: Contact v.2-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>
</html>